<div class="span7 popUp popUpspan6">
    <div class="row">
        <form class="span6" id="changePasswordForm">
            <fieldset>
                <legend>Change password</legend>
                <label>Enter current password </label>
                <div class="input-control text" data-role="input-control">
                    <input name="current_pass" type="password" data-valid="required" placeholder="type your current password" autofocus="">
                    <button class="btn-clear" tabindex="-1" type="button"></button>
                </div>
                <label>Enter new password</label>
                <div class="input-control password" data-role="input-control">
                    <input name="new_pass" type="password" placeholder="type your new password" autofocus="">
                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                </div>

                <label>Confirm new password</label>
                <div class="input-control password" data-role="input-control">
                    <input name="confirm_new_pass" type="password" data-confirm="new_pass" placeholder="confirm your new password" >
                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                </div>


                <button type="button" class="primary savePassword"><i class="icon-floppy on-left"></i>Save</button>
                <button type="button" class="danger cancelPopUp"><i class="icon-cancel-2 on-left"></i>Cancel</button>

            </fieldset>

        </form>
        <script>
            $.Metro.initInputs();
        </script>
    </div>
</div>
