<div class="custom-content">
    <div class="row">
        <nav class="navigation-bar fixed-top dark">
            <nav class="navigation-bar-content">
                <div class="element">
                    <a class="dropdown-toggle" href="#">I WANT TO</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a class="find" alt="users"  href="#dashboard/find/people">Find users</a></li>
                        <li><a class="find" alt="news" href="#dashboard/find/news">Find news</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Print...</a></li>
                        <li class="divider"></li>

                    </ul>
                </div>

                <span class="element-divider"></span>
                <a class="element brand" href="#"><span class="icon-spin"></span></a>
                <a class="element brand" href="#"><span class="icon-printer"></span></a>
                <span class="element-divider"></span>

                <div class="element input-element">
                    <form>
                        <div class="input-control text">
                            <input type="text" placeholder="Search...">
                            <button class="btn-search"></button>
                        </div>
                    </form>
                </div>
                <span class="element-divider"></span>
                <div class="element">
                    <a class="" href="#/friendlist" style="color: #FFFFFF">FRIEND LIST</a>
                </div>
                <span class="element-divider"></span>

                <div class="element place-right">
                    <a class="dropdown-toggle" href="#">
                        <span class="icon-cog"></span>
                    </a>
                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a class="go_to_profile" href="#/profile">Profile</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a class="logOut" href="#">Log Out</a></li>
                    </ul>
                </div>
                <span class="element-divider place-right"></span>
                <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
                <span class="element-divider place-right"></span>
                <button class="element image-button image-left place-right">
                    <span class="icon-home on-left" style="margin-top: 8px;"></span>

                    <%= user.firstname %> <%= user.lastname %>


                </button>
            </nav>
        </nav>
    </div>
    <div class="inner-content dashboard-content">

    </div>

</div>