<dvi class="custom-header">
    <h1></h1>
</dvi>
<div class="custom-content">
    <div class="row">
        <nav class="horizontal-menu">
            <ul>
                <li>
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Articles</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">How it wokrs</a></li>
                        <li><a href="#">Help</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#/sign_in">Sign In</a>
                </li>
                <li>
                    <a href="#/sign_up">Sign Up</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="inner-content">

    </div>
    
</div>
