<img class="polaroid bd-white shadow custom-logo" src="http://placehold.it/350x150">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus lectus sit amet odio ullamcorper malesuada dignissim justo gravida.
    Pellentesque sagittis, tellus id sagittis accumsan, augue velit pretium urna, ac interdum dui nibh et orci.
    Quisque dapibus elit ut metus varius ac bibendum sem luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sagittis lorem. Praesent ac eros quam.
    Praesent molestie bibendum consequat. Suspendisse a felis eu augue venenatis egestas nec ac lectus. Nam nec felis lorem.
    Maecenas luctus est et nulla cursus vestibulum. Curabitur suscipit adipiscing dui eget sollicitudin. Sed accumsan tincidunt enim, in feugiat ligula ornare et.</p>
<div class="custom-clear"></div>
<div class="row">
    <div class="span6" style="float: left;margin-right: 20px">
        <div class="listview-outlook">
            <a href="#" class="list">
                <div class="list-content">
                    <span class="list-title">subscribe@metroui.net</span>
                    <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                    <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                </div>
            </a>
            <a href="#" class="list marked">
                <div class="list-content">
                    <span class="list-title">subscribe@metroui.net</span>
                    <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                    <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                </div>
            </a>
            <a href="#" class="list">
                <div class="list-content">
                    <span class="list-title">subscribe@metroui.net</span>
                    <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                    <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                </div>
            </a>

        </div>
    </div>
    <div class="span15">
        <img class="polaroid bd-white shadow" src="http://placehold.it/140x140">
        <img class="polaroid bd-white shadow" src="http://placehold.it/140x140">
        <img class="polaroid bd-white shadow" src="http://placehold.it/140x140">

    </div>
</div>