<div class="row">
<form class="span6" id="signForm">
    <fieldset>
        <legend><% if(type=='sign_up') { %>Sign Up<% } else { %>Sign In<% } %> Form</legend>
        <label>Enter your email </label>
        <div class="input-control text" data-role="input-control">
            <input name="email" type="text" data-valid="email" placeholder="type text">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <label>Enter your password</label>
        <div class="input-control password" data-role="input-control">
            <input name="password" type="password" placeholder="type password" autofocus="">
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
        <% if(type=='sign_up') { %>
            <label>Confirm your password</label>
            <div class="input-control password" data-role="input-control">
                <input name="confirm_password" type="password" data-confirm="password" placeholder="type password" autofocus="">
                <button class="btn-reveal" tabindex="-1" type="button"></button>
            </div>

            <label>Enter your firstname </label>
            <div class="input-control text" data-role="input-control">
                <input name="firstname" type="text" placeholder="type text">
                <button class="btn-clear" tabindex="-1" type="button"></button>
            </div>

            <label>Enter your lastname </label>
            <div class="input-control text" data-role="input-control">
                <input name="lastname" type="text" placeholder="type text">
                <button class="btn-clear" tabindex="-1" type="button"></button>
            </div>
        <% } else { %>
            <div class="input-control checkbox" data-role="input-control">
                <label>
                    <input name="rememberme" type="checkbox" checked="">
                    <span class="check"></span>
                    Remember me
                </label>
            </div>

            <div>

                <div class="input-control radio default-style" data-role="input-control">
                    <label>
                        <input type="radio" name="r1" checked="">
                        <span class="check"></span>
                        own device
                    </label>
                </div>
                <div class="input-control radio  default-style" data-role="input-control">
                    <label>
                        <input type="radio" name="r1">
                        <span class="check"></span>
                        external device
                    </label>
                </div>

            </div>

        <% } %>

        <input type="submit" value=" <% if(type=='sign_up') { %>Regist <% } else { %>Sign In<% } %>">
    </fieldset>

</form>
</div>