
    <td><%= firstname %></td>
    <td><%= lastname %></td>
    <td><%= age %></td>
     <% if(invitations===false) { %>
    <td style="text-align: right">
        <button alt="<%= id %>" class="small danger delete-user">Delete</button>
        <button class="small info">Write</button>
    </td>
    <% } else { %>
    <td style="text-align: right">
        <button alt="<%= id %>" title="accept" class="small success invite">Accept</button>
        <button alt="<%= id %>" title="refuse" class="small danger invite">Refuse</button>

    </td>
    <% } %>
