img {margin: 10px;}
.custom-header {width: 100%; height: 300px;}
.custom-content {margin-top: 50px;}
.custom-logo    {float: left; margin-right: 15px;}
.custom-clear   {clear: both; margin-top: 50px;}